{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Messagefrom</th>
                <th>Messageto</th>
                <th>Datesent</th>
                <th>Message</th>
                <th>Attachments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.messageFrom }}</td>
                <td>{{ message.messageTo }}</td>
                <td>{% if message.dateSent %}{{ message.dateSent|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.attachments }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('message_show', { 'id': message.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('message_edit', { 'id': message.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
