{% extends 'base.html.twig' %}

{% block body %}
    <h1>Property list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td><a href="{{ path('property_show', { 'id': property.id }) }}">{{ property.id }}</a></td>
                <td>{{ property.address }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('property_show', { 'id': property.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('property_edit', { 'id': property.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('property_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
